<html>
    <body>
        {% extends "base1.html" %} 
        {% block content %}
        <ul>
            {% for key, value in sensores.items() %}
                <li>{{key}}:{{value}}</li>
                {% if(value < 20) %}
                    <li>Temperatura baixa</li>
                {% elif(value >= 20 and value < 25 ) %} 
                    <li>Temperatura Ambiente</li>
                {% else %}
                    <li>Temperatura alta</li>
                {% endif %}
            {% endfor %}
        </ul>
        {% endblock %}
    </body>
</html>